
<div class="card card-compact bg-base-100 shadow-xl animate-fadeIn">
  <figure class="h-100 overflow-hidden flex items-center justify-center">
    <img  class="rounded object-cover h-full w-full"  class="rounded" [src]="movie().Poster " [alt]="movie().Title" />
  </figure>
  <div class="card-body">
    <h2
      class="card-title font-montserrat text-accent text-lg hover:underline cursor-pointer overflow-hidden text-ellipsis whitespace-nowrap"
    >
      {{ movie().Title }}
    </h2>
    <p>{{ movie().Year }}...</p>
    <div class="card-actions justify-end">
      <a class="btn btn-primary" (click)="addMovieToFavorite(movie())">
        Agregar a favorito
      </a>
    </div>
  </div>
</div>





