<div class="flex flex-col items-center mt-4 mb-10">
  <h1 class="text-xl font-bold mb-10">Todas las películas</h1>

  <div class="join flex flex-wrap justify-center gap-2">
    @for (page of getPagesList(); track page) {
      <button
        class="join-item btn btn-soft"
        [class.btn-secondary]="page === activePage()"
        [routerLink]="[]"
        [queryParams]="{ page: page }"
        (click)="activePage.set(page)"
      >
        {{ page }}
      </button>
    }
    @empty {
      <p>No hay películas</p>
    }
  </div>
</div>
