<div class="card card-compact bg-base-100 shadow-xl animate-fadeIn">
  <figure class="h-100 overflow-hidden flex items-center justify-center">
    <img
      class="rounded object-cover h-full w-full"
      class="rounded"
      [src]="movie().poster"
      [alt]="movie().title"
    />
  </figure>
  <div class="card-body sm:items-start items-center">
    <h2
      class="card-title font-montserrat text-accent text-lg hover:underline cursor-pointer overflow-hidden text-ellipsis whitespace-nowrap"
    >
      {{ movie().title }}
    </h2>
    <p>{{ movie().year }}...</p>
  </div>
</div>
